:root {
    --bg-color: #F7F5f0;          /* Sfondo */
    --text-main: #3b3b3b;         /* Testo principale */
    --text-muted: #686868;        /* Testi didascalici */
    --accent-color: #9e876e;      /* Testi di accento */
    --font-main: 'Montserrat', Arial, sans-serif;
    --font-secondary: 'Karla', sans-serif;
    --terracotta: #cd826b;
    --oliva: #89978b;
}

    $terracotta: #C86D51;
    $oliva: #7A8B7B;