:root {
    --bg-color: #F7F5f0;          /* Sfondo */
    --text-main: #333333;         /* Testo principale */
    --text-muted: #555555;        /* Testi didascalici */
    --accent-color: #9e876e;      /* Testi di accento */
    --font-main: 'Helvetica Neue', Arial, sans-serif;
    --terracotta: #cd826b;
    --oliva: #99a79b;
}

    $terracotta: #C86D51;
    $oliva: #7A8B7B;