:root {
    --bg-color: #F7F5f0;          /* Sfondo morbido quasi bianco */
    --text-main: #333333;         /* Testo antracite per massima eleganza */
    --text-muted: #555555;        /* Grigio per i testi secondari e paragrafi */
    --accent-color: #9e876e;      /* Colore sabbia di accento */
    --font-main: 'Helvetica Neue', Arial, sans-serif;
    --terracotta: #cd826b;
    --oliva: #99a79b;
}

    $terracotta: #C86D51;
    $oliva: #7A8B7B;